<div style="margin-top: 120px;" id="main" class="container">
    <div style="margin-left: auto; margin-right: auto;" class="btn-group">
        <button style="border-radius: 0;" (click)="cat(null)" class="btn btn-primary">All Products</button>
        <button *ngFor="let item of categories , let i=index" (click)="cat(item)" class="btn btn-primary">{{categoryname[i]}}</button>
        <input style="display: none;" [(ngModel)]="name" name="select">
    </div><br><br>
    <div class="row">
        <div *ngFor="let product of products | productlist : name" class="col-sm-4">
            <div class="card">
                <a href="{{product.url}}" target="_blank">
                    <img class="card-img-top" [src]="'../../../assets/'+product.image1" style="width:100%">
                </a>
                <div class="card-body">
                    <h4 class="card-title">{{product.name}}</h4>
                    <p class="card-text">{{product.desc}}</p>
                    <p class="card-text"><b>Flavour Options:</b> {{product.flavour}}</p>
                    <p *ngIf="product.benefitname1" class="card-text"><b>Benefits:</b> {{product.benefitname1}}, {{product.benefitname2}}, {{product.benefitname3}}</p>
                    <button (click)="copyToClipboard('#disc')">Copy link with your referral code</button>
                    <a style="display: none;" id="disc" href="http://andme.in/?discount={{ref}}&redirect={{product.url}}">{{product.url}}?discount={{ref}}</a>
                </div>
            </div>
        </div>
    </div>
  </div>