<div class="container">
    <div class="row" style="text-align: center;">
        <div class="col-sm-6">
            <button (click)="showapp()">Applications</button>
        </div>
        <div class="col-sm-6">
            <button (click)="showreg()">Approved/Registered</button>
        </div>
    </div>
    <br>
    <div id="applications">
        <table style="width: 80%; text-align: center;">
            <tr>
                <th>Name</th>
                <th>Details</th>
            </tr>
            <tr *ngFor="let item of applications">
                <td *ngIf="!item.accepted">{{item.name}}</td>
                <td *ngIf="!item.accepted" id="det" routerLink="/admin-panel/detail/app/{{ item.email }}">Details</td>
            </tr>
        </table>
    </div>
    <div id="registered">
        <div style="margin: 2vw auto; width: 50%;">
            <label for="dateoption">Select One</label>
            <select [disabled]="disabled" class="form-control" id="dateoption" name="dateoption" (change)="select()" [(ngModel)]="dateoption">
                <option>Today</option>
                <option>Yesterday</option>
                <option>Last 7 days</option>
                <option>Last 30 days</option>
                <option>Last 90 days</option>
            </select>
        </div>
        <table style="width: 80%; position: relative; left: 5%; text-align: center;">
            <tr>
                <th>Name</th>
                <th>Details</th>
                <th>Sales</th>
                <th>Margin</th>
                <th>Remove</th>
            </tr>
            <tr *ngFor="let item of registered, let i=index">
                <td>{{item.name}} ({{item.referral_code}})</td>
                <td id="det" routerLink="/admin-panel/detail/reg/{{ item.email }}">Details</td>
                <td>{{codebucket[i].sale}}</td>
                <td>{{codebucket[i].margin}}</td>
                <td><button (click)="remover(item.email)">Remove</button></td>
            </tr>
        </table>
        <br><br>
    </div>
</div>
