<div class="container">
    <div class="row" style="text-align: center;">
        <div class="col-sm-6">
            <button (click)="showapp()">Applications</button>
        </div>
        <div class="col-sm-6">
            <button (click)="showreg()">Approved/Registered</button>
        </div>
    </div>
    <br>
    <div id="applications">
        <table style="width: 80%; text-align: center;">
            <tr>
                <th>Name</th>
                <th>Details</th>
            </tr>
            <tr *ngFor="let item of applications">
                <td *ngIf="!item.accepted">{{item.name}}</td>
                <td *ngIf="!item.accepted" id="det" routerLink="/admin-panel/detail/app/{{ item.email }}">Details</td>
            </tr>
        </table>
    </div>
    <div id="registered">
        <table style="width: 80%; text-align: center;">
            <tr>
                <th>Name</th>
                <th>Details</th>
            </tr>
            <tr *ngFor="let item of registered">
                <td>{{item.name}}</td>
                <td id="det" routerLink="/admin-panel/detail/reg/{{ item.email }}">Details</td>
            </tr>
        </table>
    </div>
</div>
