<div style="margin-top: 120px;" class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="../../../assets/photos/1_600x.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Lorem ipsum</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi repellat laboriosam reprehenderit repellendus quaerat officia autem distinctio tempora sequi modi eligendi dignissimos, ipsa quod quia magnam necessitatibus laudantium beatae corrupti.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="../../../assets/photos/1_600x.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Lorem ipsum</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi repellat laboriosam reprehenderit repellendus quaerat officia autem distinctio tempora sequi modi eligendi dignissimos, ipsa quod quia magnam necessitatibus laudantium beatae corrupti.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="../../../assets/photos/1_600x.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Lorem ipsum</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi repellat laboriosam reprehenderit repellendus quaerat officia autem distinctio tempora sequi modi eligendi dignissimos, ipsa quod quia magnam necessitatibus laudantium beatae corrupti.</p>
                </div>
            </div>
        </div>
    </div>
</div>
