<body class="hero-anime">	

	<div class="navigation-wrap bg-light start-header start-style">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-expand-md navbar-light">
					
						<a class="navbar-brand" routerLink="/home"><img src="../assets/logo.webp" alt=""></a>	
						
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ml-auto py-4 py-md-0">
								<li routerLinkActive="active" class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" routerLink="/home">Home</a>
								</li>
								<li routerLinkActive="active" class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" routerLink="/about">Register</a>
								</li>
								<li *ngIf="!loggedin" class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a style="cursor: pointer;" class="nav-link" data-toggle="modal" data-target="#myModal">Login</a>
								</li>
								<li id="linkpro" *ngIf="loggedin" routerLinkActive="active" class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" routerLink="updates">Your Profile</a>
								</li>
								<li id="linkout" *ngIf="loggedin" class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" routerLink="/home">Logout</a>
								</li>
								<li id="drop" *ngIf="loggedin" class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i></a>
									<div class="dropdown-menu dropdown-menu-right">
										<a class="dropdown-item" routerLink="/user/updates">Your Profile</a>
										<a class="dropdown-item" *ngIf="gID" (click)="logout()" routerLink="/home">Logout</a>
										<a class="dropdown-item" *ngIf="usertoken" (click)="logoutnorm()" routerLink="/home">Logout</a>
									</div>
								</li>
							</ul>
						</div>
						
					</nav>		
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="myModal">
		<div class="modal-dialog modal-dialog-centered">
		  <div class="modal-content">
		  
			<!-- Modal Header -->
			<div class="modal-header">
			  <h6 class="modal-title">Login</h6>
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			
			<!-- Modal body -->
			<div style="text-align: center;" class="modal-body">
				<a data-dismiss="modal" id="button">Login with Google</a>
				<hr>
				<div *ngIf="!data.token">
					<div>
						<label>Email ID</label><br />
						<input type="text" name="login-username" [(ngModel)]="user.username">
						<span *ngFor="let error of data.errors.username"><br />
						{{ error }}</span></div>
					<div>
						<label>&Me Password</label><br />
						<input type="password" name="login-password" [(ngModel)]="user.password">
						<span *ngFor="let error of data.errors.password"><br />
						{{ error }}</span>
					</div>
					<div><br>
						<button (click)="login()" data-dismiss="modal" class="btn btn-primary">Log In</button>
					</div>
					<div>
						<span *ngFor="let error of data.errors.non_field_errors">{{ error }}<br /></span>
					</div>
				</div>
				<!-- <div *ngIf="data.token">
					<div>You are logged in as {{ data.username }}.<br />
						Token Expires: {{ data.token_expires }}<br />
						<button (click)="refreshToken()" class="btn btn-primary">Refresh Token</button>
						<button (click)="logoutnorm()" class="btn btn-primary">Log Out</button>
					</div>
				</div> -->
			</div>
			
			<!-- Modal footer -->
			<div class="modal-footer">
			  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
			
		  </div>
		</div>
	</div>
	<router-outlet></router-outlet>
	<div id="foot" class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				<h4 id="conth">SHOP</h4>
				<h6><a id="contp" href="https://andme.in/collections/pcos">PCOS / PCOD</a></h6>
				<h6><a id="contp" href="https://andme.in/collections/pcos">Period Care</a></h6>
				<h6><a id="contp" href="https://andme.in/products/skin-care-drink">Beauty</a></h6>
				<h6><a id="contp" href="https://andme.in/products/uti-relief-drink">Detox</a></h6>
				<h6><a id="contp" href="https://andme.in/products/goslim-fitness-drink">Fitness</a></h6>
				<h6><a id="contp" href="https://andme.in/collections/combo-collection">Combos</a></h6>
				<h6><a id="contp" href="https://andme.in/products/diet-and-health-plan">Diet Plans</a></h6>
				<h6><a id="contp" href="https://andme.in/collections/diabetes-friendly">Diabetes Friendly</a></h6>
			</div>
			<div class="col-sm-3">
				<h4 id="conth">SOCIAL</h4>
				<h6><a id="contp" href="https://www.facebook.com/andme.in">Facebook</a></h6>
				<h6><a id="contp" href="https://twitter.com/andmeindia">Twitter</a></h6>
				<h6><a id="contp" href="https://www.instagram.com/andme.in/">Instagram</a></h6>
				<h6><a id="contp" href="https://www.youtube.com/channel/UCKiUNYgtWhrSFy30IZpbBBg">YouTube</a></h6>
			</div>
			<div class="col-sm-3">
				<h4 id="conth">LEGAL</h4>
				<h6><a id="contp" href="https://andme.in/pages/refund-policy">Refund Policy</a></h6>
				<h6><a id="contp" href="https://andme.in/policies/shipping-policy">Shipping Policy</a></h6>
				<h6><a id="contp" href="https://andme.in/pages/privacy">Privacy Policy</a></h6>
				<h6><a id="contp" href="https://andme.in/pages/terms-conditions">Terms of Service</a></h6>
			</div>
			<div class="col-sm-3">
				<h4 id="conth">CONTACT</h4>
				<h6 style="color: black;" id="contp">Merhaki Foods and Nutrition,</h6>
				<h6 style="color: black;" id="contp">No. 837, 4th Cross, 11th B Main,</h6>
				<h6 style="color: black;" id="contp">4th Block, Koramangala</h6>
				<h6 style="color: black;" id="contp">Bengaluru, India-560034</h6>
				<h6 style="color: black;" id="contp">andmecares@merhakifoods.com</h6>
			</div>
		</div>
		<hr style="border-top: 1px solid white; margin-top: 1rem;">
		<div style="text-align: center;" class="row">
			<h6 id="footend">
				Merhaki Foods (&Me) is committed to providing delicious, high quality, nutrient dense products designed especially for women. The statements on this site have not been evaluated by the FDA. Our products are not intended to diagnose, treat, cure, or prevent any disease and the results may vary from person to person.
<br>
<br>
andME (&ME), 'for your Grace', 'fall into Rhythm', 'PCOS', 'PCOD' and 'UTI' are registered trademarks of Merhaki Foods and Nutrition Private Limited. ©All rights reserved
			</h6>
		</div>
	</div>
</body>