<div id="main" class="container-fluid" style="padding: 0;">
    <div>
        <video autoplay loop id="banner" src="../../../assets/ambassador page top video.mp4"></video>
        <!-- <p id="wel">Make a change with &Me!</p> -->
        <!-- <div id="section" class="col-sm-4 offset-sm-7">
            <div id="regd" class="card">
                <h4 id="regh">JOIN TODAY</h4>
                <a id="rega">Register with &ME</a>
            </div>
        </div> -->
        <div id="pullup" class="col-sm-6 offset-sm-3">
            <div id="reg" class="card">
                <h3 id="regh">Want to make a change with &Me?</h3>
                <a routerLink="/about" id="rega">Register Now!</a>
            </div>
        </div>
        <div style="width: 100%; margin-left: auto; margin-right: auto;" class="row">
            <div class="col-sm-4">
                <div id="catc" class="card">
                    <h3 id="cath">REGISTER AS</h3>
                    <h3 id="cath">SELLER</h3>
                    <p id="catp">erfedc rgtfvdc ref</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div id="catc" class="card">
                    <h3 id="cath">REGISTER AS</h3>
                    <h3 id="cath">NUTRITIONIST</h3>
                    <p id="catp">erfedc rgtfvdc ref</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div id="catc" class="card">
                    <h3 id="cath">REGISTER AS</h3>
                    <h3 id="cath">INFLUENCER</h3>
                    <p id="catp">erfedc rgtfvdc ref</p>
                </div>
            </div>
        </div>
    </div>
</div>