#main {
    margin-top: 70px;
    text-align: center;
    /* background: rgb(228,239,239);
background: linear-gradient(0deg, rgba(228,239,239,1) 0%, rgba(98,241,239,1) 100%); */
}

#banner {
    position: relative;
    /* top: -1vw; */
    width: 75% !important;
    height: auto !important;
    margin-left: auto;
    margin-right: auto;
}

#wel {
    position: relative;
    color: white;
    opacity: 0.8;
    /* top: -20vw; */
    margin-left: auto;
    margin-right: auto;
    font-size: 4vw;
    font-weight: 900;
}

#regh {
    font-weight: 900;
    font-size: 2.2vw;
}

#rega {
    padding: 2%;
    font-size: 1.7vw;
    margin: 1vw auto;
    background-color: #71dceb;
    border-radius: 25px;
    width: 60%;
    color: black;
    font-weight: 700;
    text-decoration: none;
    transition: ease 0.5s;
}

#rega:hover {
    transform: scale(1.05);
}

#reg {
    padding: 3% 0;
}

#catc {
    padding: 10% 2%;
    background-color: #71dceb;
    border: 0px;
}

#cath {
    text-align: left;
    color: rgb(46, 46, 168);
    font-weight: 900;
    margin-left: 2vw;
    font-size: 2vw;
}

#catp {
    text-align: left;
    margin-left: 2vw;
    font-size: 1.3vw;
}

.card {
    border: 0;
    padding: 2%;
}

@media screen and (max-width: 1000px) {
    #rega {
        font-size: 2.2vw;
        width: 70%;
    }

    #regh {
        font-size: 2.3vw;
    }

    #cath {
        font-size: 2.2vw;
    }

    #catp {
        font-size: 1.5vw;
    }
}


@media screen and (max-width: 800px) {
    #rega {
        font-size: 2.4vw;
    }

    #regh {
        font-size: 2.4vw;
    }

    #cath {
        font-size: 2.4vw;
    }

    #catp {
        font-size: 1.7vw;
    }
}


@media screen and (max-width: 700px) {
    #rega {
        font-size: 2.6vw;
    }

    #regh {
        font-size: 2.6vw;
    }

    #cath {
        font-size: 2.6vw;
    }

    #catp {
        font-size: 1.9vw;
    }
}


@media screen and (max-width: 576px) {
    #rega {
        font-size: 3.3vw;
    }

    #regh {
        font-size: 4vw;
    }

    #banner {
        width: 100%;
    }

    #pull, #pullup {
        top: 0;
    }

    #cath {
        font-size: 3.5vw;
    }

    #catp {
        font-size: 2.8vw;
    }

    #reg {
        margin-bottom: 8vw;
    }
}