<div id="main" class="container-fluid">
    <div>
        <div class="col-sm-8 offset-sm-2">
            <div id="regc" class="card">
                <a id="buttonr" data-dismiss="modal">Register with Google</a>
                <hr>
                <div id="normc">
                    <p>If you do not have a Google account</p>
                    <!-- <p for="username">Username</p>
                    <input type="username" name="username" [(ngModel)]="user.email" /><br> -->
                    <p for="email">Email ID</p>
                    <input type="email" name="email" [(ngModel)]="user.username" /><br>
                    <p for="password">&Me Password</p>
                    <input type="password" name="password" [(ngModel)]="user.password" /><br>
                    <p for="confpass">Confirm &Me Password</p>
                    <input type="password" name="confpass" [(ngModel)]="confpass" /><br><br>
                    <button (click)="register()" class="btn btn-primary" data-dismiss="modal">Register</button>
                </div>
                <!-- <h3 id="regh">Click here to register</h3>
                <a id="buttona" data-toggle="modal" data-target="#myModaltwo">REGISTER NOW</a> -->
            </div>
        </div>
    </div>
	<!-- <div class="modal fade" id="myModaltwo">
		<div class="modal-dialog modal-dialog-centered">
		  <div class="modal-content">
		  
			<div class="modal-header">
			  <h6 class="modal-title">Register</h6>
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			
			<div class="modal-body">
                <a id="buttonr" data-dismiss="modal">Register with Google</a>
                <hr>
                <div id="normc">
                    <p>If you do not have a Google account</p>
                    <p for="username">Username</p>
                    <input type="username" name="username" [(ngModel)]="user.email" /><br>
                    <p for="email">Email ID</p>
                    <input type="email" name="email" [(ngModel)]="user.username" /><br>
                    <p for="password">Password</p>
                    <input type="password" name="password" [(ngModel)]="user.password" /><br>
                    <p for="confpass">Confirm Password</p>
                    <input type="password" name="confpass" [(ngModel)]="confpass" /><br><br>
                    <button (click)="register()" class="btn btn-primary" data-dismiss="modal">Register</button>
                </div>
			</div>
			
			<div class="modal-footer">
			  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
			
		  </div>
		</div>
	</div> -->
    <div>
        <div class="col-sm-8 offset-sm-2">
            <h4 id="whyh">Why &Me?</h4>
            <img id="smi" src="../../../assets/make a change.jpg" />
        </div>
        <div id="exp" class="col-sm-8 offset-sm-2">
            <p><b>Over 50 years of changing lives</b></p>
            <p id="para">For over 50 years, &ME has been empowering people to make a change in their lives by recommending and selling high quality beauty products inspired by nature and powered by Swedish science. &ME is Europe’s largest beauty company selling direct with a global community of over 3 million independent sales consultants around the world.</p>
        </div>
    </div>
    <div>
        <h4 id="what">WHAT'S IN IT FOR YOU?</h4>
        <div class="row">
            <div id="whatd" class="col-sm-4">
                <img id="whati" src="../../../assets/icon1.jpg" />
                <h4 id="whath">INCOME & FLEXIBILITY</h4>
                <p id="para">With &ME you are your own boss, work with beauty, manage your own time and earn extra income.</p>
            </div>
            <div id="whatd" class="col-sm-4">
                <img id="whati" src="../../../assets/icon2.jpg" />
                <h4 id="whath">INCOME & FLEXIBILITY</h4>
                <p id="para">With &ME you are your own boss, work with beauty, manage your own time and earn extra income.</p>
            </div>
            <div id="whatd" class="col-sm-4">
                <img id="whati" src="../../../assets/icon3.jpg" />
                <h4 id="whath">INCOME & FLEXIBILITY</h4>
                <p id="para">With &ME you are your own boss, work with beauty, manage your own time and earn extra income.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="stat" class="col-sm-4 offset-sm-2">
            <div class="row">
                <div id="stati">
                    <img style="width: 100%;" src="../../../assets/why _me-1.jpg" />
                </div>
                <!-- <div id="statdt">
                    <h2 id="stath">60+</h2>
                    <p id="statp">&ME is present in over 60 countries worldwide</p>
                </div> -->
            </div>
        </div>
        <div id="stat" class="col-sm-4">
            <div class="row">
                <div id="stati">
                    <img style="width: 100%;" src="../../../assets/why _me-2.jpg" />
                </div>
                <!-- <div id="statdt">
                    <h2 id="stath">60+</h2>
                    <p id="statp">&ME is present in over 60 countries worldwide</p>
                </div> -->
            </div>
        </div>
        <div id="stat" class="col-sm-4 offset-sm-2">
            <div class="row">
                <div id="stati">
                    <img style="width: 100%;" src="../../../assets/why _me-3.jpg" />
                </div>
                <!-- <div id="statdt">
                    <h2 id="stath">60+</h2>
                    <p id="statp">&ME is present in over 60 countries worldwide</p>
                </div> -->
            </div>
        </div>
        <div id="stat" class="col-sm-4">
            <div class="row">
                <div id="stati">
                    <img style="width: 100%;" src="../../../assets/why _me-4.jpg" />
                </div>
                <!-- <div id="statdt">
                    <h2 id="stath">60+</h2>
                    <p id="statp">&ME is present in over 60 countries worldwide</p>
                </div> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div id="faq" class="col-sm-8 offset-sm-2">
            <div style="border-top: 1px solid steelblue;" id="item">
                <a id="itema" data-toggle="collapse" data-target="#one">How do I register for Competitions at Mood Indigo?</a> 
                <p id="one" class="collapse" style="font-weight: normal; margin: 0;">If you do not have an MI Number, go to the 'Register' tab and fill in your details there to get an MI Number. Then go to Competitions > Genre and register in the required competition. If you already have an MI Number then directly register for the competition by going to Competitions >  Genre and register in the required competition.</p>
            </div>
            <div id="item">
                <a id="itema" data-toggle="collapse" data-target="#two">Who can participate in these competitions? Is there any fee involved for registration?</a>
                <p id="two" class="collapse" style="font-weight: normal; margin: 0;">Any college student can take part in these competitions. There is no registration fee for participation.</p>
            </div>
            <div id="item">
                <a id="itema" data-toggle="collapse" data-target="#thr">How do I register for Competitions at Mood Indigo?</a> 
                <p id="thr" class="collapse" style="font-weight: normal; margin: 0;">If you do not have an MI Number, go to the 'Register' tab and fill in your details there to get an MI Number. Then go to Competitions > Genre and register in the required competition. If you already have an MI Number then directly register for the competition by going to Competitions >  Genre and register in the required competition.</p>
            </div>
            <div id="item">
                <a id="itema" data-toggle="collapse" data-target="#four">Who can participate in these competitions? Is there any fee involved for registration?</a>
                <p id="four" class="collapse" style="font-weight: normal; margin: 0;">Any college student can take part in these competitions. There is no registration fee for participation.</p>
            </div>
            <div id="item">
                <a id="itema" data-toggle="collapse" data-target="#five">How do I register for Competitions at Mood Indigo?</a> 
                <p id="five" class="collapse" style="font-weight: normal; margin: 0;">If you do not have an MI Number, go to the 'Register' tab and fill in your details there to get an MI Number. Then go to Competitions > Genre and register in the required competition. If you already have an MI Number then directly register for the competition by going to Competitions >  Genre and register in the required competition.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="margin-bottom: 4vw;" class="col-sm-4 offset-sm-4">
            <h4 id="soch">FOLLOW US</h4>
            <a href="https://www.facebook.com/andme.in"><i id="icon" class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/andme.in/"><i id="icon" class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/andmeindia"><i id="icon" class="fab fa-twitter"></i></a>
            <a href="https://www.youtube.com/channel/UCKiUNYgtWhrSFy30IZpbBBg"><i id="icon" class="fab fa-youtube"></i></a>
        </div>
    </div>
</div>