<!-- <div class="row">
    <div class="col-sm-6">
        <img style="width: 100%;" [src]="'../../../assets/'+product_image" />
    </div>
    <div id="zerol" class="col-sm-6">
        <h1 id="title"><b>&Me {{ product.name }}</b></h1>
        <p id="desc">{{ product.desc }}</p>
        <div id="fl" class="row">
            <div id="zero" class="col-sm-12">
                <h6 id="ft">Flavor Options</h6>
            </div>
        </div>
        <div id="fl" class="row">
            <div style="padding: 1%;" *ngFor="let flavor of flavors" class="col-sm-12">
                <button id="fb" style="width: 100%;">{{ flavor }}</button>
            </div>
        </div>
        <br>
        <div style="text-align: center; padding: 1%;" class="row">
            <a id="know" [href]="product.url" target="_blank">Buy Now &nbsp;<i class='fas fa-angle-double-right'></i></a>
        </div> 
                        <div id="fl" class="row">
                            <div style="padding: 0;" class="col-sm-3">
                                <h6 id="ft">Select Pack</h6>
                            </div>
                            <div style="padding: 1%;" *ngFor="let price of prices" class="col-sm-3">
                                <button id="fb" style="width: 100%;">{{ price }}</button>
                            </div>
                        </div>
    </div>
</div>
<br>
<div id="four" class="container">
    <h1 id="title2">Benefits</h1>
    <br>
    <div style="text-align: center;" class="row">
        <div *ngFor="let benefit of benefits" class="col-sm-4">
            <img id="ben" [src]="'../../../assets/'+benefit.image" />
            <p><b>{{ benefit.name }}</b></p>
        </div>
    </div>
    <br>
    <h1 id="title2">About &Me {{ product.name }}</h1>
    <br>
    <div style="text-align: center;" class="row">
        <p style="white-space: pre-line">{{ working }}</p>
    </div>
</div> -->
