#four {
    position: relative;
    left: -18%;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: black;
}

#know a {
    color: black;
}

#title {
    font-size: 2vw;
}

#title2 {
    font-size: 3vw;
    text-align: center;
}

#desc {
    font-size: 1.2vw;
}

#zerol {
    padding-left: 0;
}

#zero {
    padding: 0;
}

#fl {
    text-align: center; 
    padding: 10px;
    font-size: 1.2vw;
}

#ft {
    text-align: center;
    font-size: 1.2vw;
    /* position: relative;
    top: 8vh; */
    margin: 0;
}

#fb {
    background: transparent;
    border-radius: 15px;
    border: 1px solid red;
    transition: ease 0.3s;
    cursor: default;
}

#know {
    background-color: skyblue;
    font-size: 2vw;
    transition: ease 0.3s;
}

#know:hover {
    transform: scale(1.2);
    border-radius: 10px;
}

#ben {
    width: 100%;
}

@media screen and (max-width: 1000px) {
    #title {
        font-size: 2.2vw;
    }

    #title2 {
        font-size: 3.3vw;
    }
    
    #desc {
        font-size: 1.5vw;
    }

    #fl,#ft {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 800px) {
    #title {
        font-size: 2.3vw;
    }

    #title2 {
        font-size: 3.6vw;
    }
    
    #desc {
        font-size: 1.8vw;
    }

    #fl,#ft {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 576px) {
    #four {
        position: relative;
        left: 0;
    }

    #title {
        text-align: center;
        font-size: 5vw;
    }

    #desc {
        text-align: center;
        font-size: 3vw;
    }

    #ft, #fb {
        text-align: center;
        font-size: 3vw;
    }

    #ft {
        position: relative;
        top: 0;
    }

    #know {
        text-align: center;
        font-size: 3vw;
    }

    #zerol {
        padding-left: 15px;
    }

    #zero {
        padding: 0 15px 15px 0;
    }

    #know { 
        border-radius: 10px;
    }

    #title2 {
        text-align: center;
        font-size: 4vw;
    }

    #ben {
        width: 60%;
    }
}