<div id="bar" class="container-fluid">
    <div class="row" style="padding: 1%;">
        <div class="col-sm-6">
            <div class="card" style="padding: 2%;">
                <h3>Today's Sales</h3>
                <p>{{total_price}}</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="padding: 2%;">
                <h3>Today's Margin</h3>
                <p>{{total_margin}}</p>
            </div>
        </div>
    </div>
    <div style="height: 100vh;" id="one">

    </div>
    <div class="row">
        <div id="0" style="padding: 1vw;" class="col-sm-6">
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div id="1" style="padding: 1vw;" class="col-sm-6">
                </div>
                <div id="2" style="padding: 1vw;" class="col-sm-6">
                </div>
            </div>
            <div class="row">
                <div id="3" style="padding: 1vw;" class="col-sm-6">
                </div>
                <div id="4" style="padding: 1vw;" class="col-sm-6">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="5" style="padding: 1vw;" class="col-sm-4">
        </div>
        <div id="6" style="padding: 1vw;" class="col-sm-4">
        </div>
        <div id="7" style="padding: 1vw;" class="col-sm-4">
        </div>
    </div>
    <div class="row">
        <div id="8" style="padding: 1vw;" class="col-sm-4 offset-sm-2">
        </div>
        <div id="9" style="padding: 1vw;" class="col-sm-4">
        </div>
    </div>
</div>