canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#main {
    padding: 2%;
    margin-bottom: 2vw;
}

#table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

  .loader{
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
  }

  #loader-1:before, #loader-1:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 5px solid transparent;
    border-top-color: #3498db;
  }
  
  #loader-1:before{
    z-index: 100;
    animation: spin 0.4s linear infinite;
  }
  
  #loader-1:after{
    border: 5px solid #ccc;
  }

  #loader-2:before, #loader-2:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 5px solid transparent;
    border-top-color: #3498db;
  }
  
  #loader-2:before{
    z-index: 100;
    animation: spin 0.4s linear infinite;
  }
  
  #loader-2:after{
    border: 5px solid #ccc;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    25% {
      -webkit-transform: rotate(90deg);
      border-top-color: red;
    }
    50% {
      -webkit-transform: rotate(180deg);
      border-top-color: green;
    }
    75% {
      -webkit-transform: rotate(270deg);
      border-top-color: darkorange;
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
      }
      25% {
        -webkit-transform: rotate(90deg);
        border-top-color: red;
      }
      50% {
        -webkit-transform: rotate(180deg);
        border-top-color: green;
      }
      75% {
        -webkit-transform: rotate(270deg);
        border-top-color: darkorange;
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
  }