@import '~bootstrap/dist/css/bootstrap.min.css';

html {
    -ms-overflow-style: none;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    display: none;
  }

  input {
      text-align: center;
      outline: none;
      border: 1px solid black;
      border-radius: 10px;
  }