@import '~bootstrap/dist/css/bootstrap.min.css';

html {
    -ms-overflow-style: none;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    display: none;
  }

  input {
      padding: 0.5vw;
      background-color: rgb(212, 212, 212);
      outline: none;
      border: 1px solid black;
      border-radius: 5px;
  }