<div style="margin-top: 120px;" class="container">
    <div class="row">
        <div class="container">
            <form>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Name (*)</label><br>
                        <input required type="text" name="name" [(ngModel)]="name" />
                    </div>
                    <div class="col-sm-6">
                        <label>Email (*)</label><br>
                        <input required type="email" name="email" [(ngModel)]="email" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Contact Number (*)</label><br>
                        <input required type="number" maxlength="10" name="contactno" [(ngModel)]="contactno" />
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Address (*)</label><br>
                        <input required type="text" name="address" [(ngModel)]="address" />
                    </div>
                    <div class="col-sm-6">
                        <label>Pin Code (*)</label><br>
                        <input required type="text" maxlength="6" name="pincode" (change)="change($event)" [(ngModel)]="pincode" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>District (*)</label><br>
                        <input required type="text" name="city" [(ngModel)]="city" />
                    </div>
                    <div class="col-sm-6">
                        <label>State (*)</label><br>
                        <input required type="text" name="state" [(ngModel)]="state" /><br>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Gender</label><br>
                        <select style="background-color: lavender;" class="form-control" name="gender" [(ngModel)]="gender">
                            <option>Male</option>
                            <option>Female</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label>Date of Birth</label><br>
                        <input type="date" name="dob" [(ngModel)]="dob" />
                    </div>
                </div>
                <hr>
                <div class="row">
                    <!-- <div class="col-sm-6">
                        <input type="checkbox" [(ngModel)]="age" name="age" (click)="ticka()" />18+
                    </div> -->
                    <div class="col-sm-12">
                        <input class="tncbox" type="checkbox" [(ngModel)]="tnc" name="tnc" (click)="tickt()" /><span id="tnc"> &nbsp; I hereby agree to the Terms and Conditions of &Me</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <p>* Required Information</p>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-primary" type="submit" (click)="submit()">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>