<p>applyform works!</p>
<form>
    <label>Name : </label>
    <input type="text" name="name" [(ngModel)]="name" /><br>
    <label>Email : </label>
    <input type="email" name="email" [(ngModel)]="email" /><br>
    <label>Contact Number : </label>
    <input type="number" name="contactno" [(ngModel)]="contactno" /><br>
    <label>Date of Birth : </label>
    <input type="date" name="dob" [(ngModel)]="dob" /><br>
    <label>Gender : </label>
    <input type="text" name="gender" [(ngModel)]="gender" /><br>
    <label>Address : </label>
    <input type="text" name="address" [(ngModel)]="address" /><br>
    <label>City : </label>
    <input type="text" name="city" [(ngModel)]="city" /><br>
    <label>State : </label>
    <input type="text" name="state" [(ngModel)]="state" /><br>
    <label>Pin Code : </label>
    <input type="number" name="pincode" [(ngModel)]="pincode" /><br>
    <!-- <input type="radio" [(ngModel)]="age" name="age" />18+<br>
    <input type="radio" [(ngModel)]="tnc" name="tnc" />TnC<br> -->
    <button type="submit" (click)="submit()">Submit</button>
</form>